<p>contacto works!</p>

<div class="container">
  <h1>Contacto</h1>
  <form>
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" required>

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>

      <label for="telefono">Teléfono:</label>
      <input type="tel" id="telefono" name="telefono" required>

      <label for="mensaje">Mensaje:</label>
      <textarea id="mensaje" name="mensaje" required></textarea>

      <button type="submit">Enviar</button>
  </form>

  <h2>Sucursal más cercana</h2>
  <p>Zermat Sucursal Cartago</p>
  <p>Dirección: Cartago Centro, Frente al Club Social, centro comercial Arial, local al fondo, Provincia de Cartago, Cartago, Costa Rica</p>
  <p>Teléfono: +506 800-937-6280</p>
  <a href="https://maps.google.com/?cid=7980943775238633982">Ver en Google Maps</a>

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.1764658602717!2d-83.92209768519685!3d9.86591249285741!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e3c500000001%3A0x7387f3b89b88339a!2sZermat%20Sucursal%20Cartago!5e0!3m2!1ses!2scr!4v1678881261000!5m2!1ses!2scr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
