<div class="container mt-5 justify-content-center align-items-center vh-100">
  <h1 class="text-center mb-4" style="color: #ffc107;">Contacto</h1>
  <div class="d-flex flex-wrap justify-content-center gap-3">

    <!-- Formulario de contacto -->
    <div *ngIf="!formSubmitted" class="card shadow-lg border-0 rounded-4 fade-in" style="flex: 1 1 300px; max-width: 600px; background-color: #212529;">
      <div class="card-body p-4">
        <h2 class="text-center mb-4" style="color: #ffc107;">Formulario de Contacto</h2>

        <form (ngSubmit)="onSubmit()" #contactForm="ngForm" class="form">
          <div class="mb-3">
            <label for="nombre" class="form-label" style="color: #fdfdfd;">Nombre:</label>
            <input type="text" class="form-control rounded-3" id="nombre" name="nombre" ngModel placeholder="Ingresa tu nombre" required style="background-color: #343a40; color: #fdfdfd; border: 1px solid #fdfdfd;">
          </div>

          <div class="mb-3">
            <label for="email" class="form-label" style="color: #fdfdfd;">Email:</label>
            <input type="email" class="form-control rounded-3" id="email" name="email" ngModel placeholder="Ingresa tu correo electrónico" required style="background-color: #343a40; color: #fdfdfd; border: 1px solid #fdfdfd;">
          </div>

          <div class="mb-3">
            <label for="telefono" class="form-label" style="color: #fdfdfd;">Teléfono:</label>
            <input type="tel" class="form-control rounded-3" id="telefono" name="telefono" ngModel placeholder="Ingresa tu número de teléfono" required style="background-color: #343a40; color: #fdfdfd; border: 1px solid #fdfdfd;">
          </div>

          <div class="mb-3">
            <label for="mensaje" class="form-label" style="color: #fdfdfd;">Mensaje:</label>
            <textarea class="form-control rounded-3" id="mensaje" name="mensaje" ngModel rows="4" placeholder="Escribe tu mensaje" required style="background-color: #343a40; color: #fdfdfd; border: 1px solid #fdfdfd;"></textarea>
          </div>

          <button type="submit" class="btn btn-primary w-100 rounded-3" style="background-color: #ffc107; border-color: #ffc107;">
            Enviar
          </button>
        </form>
      </div>
    </div>

    <!-- Mensaje de "Formulario Enviado" -->
    <div *ngIf="formSubmitted" class="d-flex justify-content-center align-items-center " style="flex: 1 1 300px; max-width: 600px; background-color: rgba(0, 0, 0, 0.4);">
      <div class="card-body p-4 text-center">
        <h2 style="color: #ffc107;">Formulario Enviado</h2>
        <p style="color: #fdfdfd;">Gracias por tu mensaje, nos pondremos en contacto contigo pronto.</p>
        <button (click)="resetForm()" class="btn btn-primary" style="background-color: #ffc107; border-color: #ffc107;">
          Enviar Nuevo
        </button>
      </div>
    </div>

    <!-- Mapa de ubicación de las tiendas -->
    <div class="card shadow-lg border-0 rounded-4 fade-in d-flex justify-content-center align-items-center" style="flex: 1 1 300px; max-width: 600px; background-color: rgba(0, 0, 0, 0.4);">
      <h2 class="text-center" style="color: #ffc107;">Ubicación de nuestras tiendas</h2>
      <app-mapa-preview [tiendas]="tiendas"></app-mapa-preview>
    </div>
  </div>
</div>
