<div class="container mt-5">
  <h1 class="text-center mb-4">Contacto</h1>

  <form class="form">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre:</label>
      <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingresa tu nombre" required>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Ingresa tu correo electrónico" required>
    </div>

    <div class="mb-3">
      <label for="telefono" class="form-label">Teléfono:</label>
      <input type="tel" class="form-control" id="telefono" name="telefono" placeholder="Ingresa tu número de teléfono" required>
    </div>

    <div class="mb-3">
      <label for="mensaje" class="form-label">Mensaje:</label>
      <textarea class="form-control" id="mensaje" name="mensaje" rows="4" placeholder="Escribe tu mensaje" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>

  <h2 class="text-center mt-5">Sucursal más cercana</h2>

  <p class="text-center" id="sucursalInfo">Buscando la tienda más cercana...</p>

  <div id="mapaContacto" style="height: 400px;"></div>
</div>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
