/* Estilos para el panel lateral */
.bg-dark {
  background-color: #343a40 !important; /* Fondo oscuro */
}

.text-white {
  color: #fdfdfd !important; /* Color de texto blanco */
}

.hover-bg-yellow:hover {
  background-color: #ffc107 !important; /* Fondo amarillo cuando pasa el cursor */
  color: #000; /* Cambiar el color del texto a negro */
}

/* Animación fade-in */
.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

/* Definir la animación fadeIn */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Estilos para el contenido principal */
main {
  background-color: #272121; /* Color de fondo */
  opacity: 0.9;
  padding: 20px; /* Padding para darle espacio interior */
}

/* Estilo para las etiquetas y campos de formulario */
.form-label {
  color: #fdfdfd; /* Color de las etiquetas */
}

.form-control {
  background-color: #343a40; /* Fondo oscuro en los campos de entrada */
  color: #fdfdfd; /* Color blanco en el texto */
  border: 1px solid #fdfdfd; /* Borde blanco */
}

.form-control:focus {
  background-color: #343a40; /* Fondo oscuro al enfocarse */
  color: #fdfdfd; /* Color blanco */
  border: 1px solid #ffc107; /* Borde amarillo al enfocarse */
}

/* Botón de acción */
button.btn-primary {
  background-color: #ffc107; /* Color amarillo */
  border-color: #ffc107; /* Borde amarillo */
}

button.btn-primary:hover {
  background-color: #e0a800; /* Color amarillo más oscuro al pasar el mouse */
  border-color: #e0a800;
}

/* Transición suave para la barra lateral */
.col-md-3 {
  transition: all 0.3s ease-in-out;
}
/* Botón 'Home' en pantallas grandes */
.d-md-none {
  display: none !important;
}

.d-none {
  display: none !important;
}

.d-md-block {
  display: block !important;
}
/* Ajustes cuando la barra lateral está oculta */
.col-12 {
  width: 100% !important; /* Asegura que el contenido ocupe todo el ancho cuando la barra lateral está oculta */
}

.offcanvas {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1050;
  width: 250px; /* Puedes ajustar el ancho según lo que necesites */
}

body {
  transition: margin-left 0.3s ease-in-out;
}

/* Barra lateral visible: desplazamos el contenido principal */
body.sidebar-visible {
  margin-left: 250px; /* El ancho de la barra lateral */
}

/* Ajuste de los estilos cuando la barra lateral está oculta */
body.sidebar-hidden {
  margin-left: 0;
}
