<div class="contenedor-notificaciones container bg-dark text-warning mt-4 p-4 rounded">
  <h2 class="text-center mb-3">Notificaciones de Cita</h2>

  <!-- Skeleton Loader -->
  <div *ngIf="cargando">
    <div class="skeleton-loader"></div>
    <div class="skeleton-loader"></div>
    <div class="skeleton-loader"></div>
  </div>

  <!-- Mostrar tiempo restante de la cita más cercana -->
  <div *ngIf="citaMasCercana" class="alert alert-success mt-3 shadow-sm rounded">
    <h5><strong>Cita más cercana</strong></h5>
    <p><strong>Cliente:</strong> {{ citaMasCercana.cliente }}</p>
    <p><strong>Servicio:</strong> {{ citaMasCercana.servicio }}</p>
    <p><strong>Tiempo Restante:</strong> {{ citaMasCercana.mensajeCita }}</p>
  </div>

  <!-- Mostrar citas después de cargar -->
  <div *ngIf="!cargando">
    <!-- Notificaciones individuales -->
    <div *ngFor="let notificacion of notificaciones" class="alert alert-info text-center shadow-sm rounded mb-3" role="alert"
         (click)="toggleDetalle(notificacion)" style="background-color: #ffc10777; font-weight: bold; cursor: pointer;">
      <strong>{{ notificacion.cliente }}</strong> - {{ notificacion.servicio }}
      <div class="mt-2">{{ notificacion.mensajeCita }}</div>

      <!-- Mostrar los detalles justo debajo de cada notificación -->
      <div *ngIf="citaSeleccionada === notificacion" class="alert alert-secondary mt-3 shadow-sm rounded fadeIn">
        <h5><strong>Detalles de la Cita</strong></h5>
        <p><strong>Cliente:</strong> {{ notificacion.cliente }}</p>
        <p><strong>Barbero:</strong> {{ notificacion.barbero }}</p>
        <p><strong>Servicio:</strong> {{ notificacion.servicio }}</p>
        <p><strong>Teléfono:</strong> {{ notificacion.telefono }}</p>
        <p><strong>Tiempo Restante:</strong> {{ notificacion.mensajeCita }}</p>
        <p><strong>Fecha de Cita:</strong> {{ notificacion.fecha_hora | date:'fullDate' }}</p>
      </div>
    </div>
  </div>
</div>
