.card {
  background-color: #212529;
}

.form-control {
  background-color: #343a40;
  color: #fdfdfd;
  border: 1px solid #fdfdfd;
}

.btn {
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn:hover {
  background-color: #e0a800;
  border-color: #e0a800;
}


.container {
  padding: 20px;
}

.alert-success {
  background-color: #28a745;
  color: #fdfdfd;
}

.form-label {
  color: #fdfdfd;
}

.card-body {
  padding: 2rem;
  border-radius: 10px;
}

h2 {
  font-weight: bold;
}

.text-warning {
  color: #ffc107;
}

.text-center {
  text-align: center;
}

.mb-3 {
  margin-bottom: 1rem;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}
