<div class="contenedor-inicio d-flex justify-content-center align-items-center min-vh-100">
  <div class="col-md-6 col-12 columna-informacion d-flex justify-content-center align-items-center">
    <!-- Card con información y animación -->
    <div class="card shadow-lg border-0 rounded-4 fade-in" style="flex: 1 1 300px; max-width: 600px; background-color: #212529; opacity: 0.9; border-radius: 10px;">
      <div class="card-body">
        <!-- Título -->
        <h2 class="text-warning display-4 mb-4 fadeInOutText" [ngClass]="{'fadeOutText': isFadingOut, 'fadeInText': !isFadingOut}">{{ titulo }}</h2>

        <!-- Descripción 1 -->
        <p class="h4 fadeInOutText" [ngClass]="{'fadeOutText': isFadingOut, 'fadeInText': !isFadingOut}">{{ descripcion1 }}</p>

        <!-- Descripción 2 -->
        <p class="h5 fadeInOutText" [ngClass]="{'fadeOutText': isFadingOut, 'fadeInText': !isFadingOut}">{{ descripcion2 }}</p>

        <!-- Botón -->
        <a [href]="botonEnlace" class="btn btn-primary btn-lg mt-3 fadeInOutText" [ngClass]="{'fadeOutText': isFadingOut, 'fadeInText': !isFadingOut}">{{ botonTexto }}</a>
      </div>
    </div>
  </div>

  <!-- Carrusel de Imágenes -->
  <div class="col-md-6 col-12 columna-imagen px-4">
    <div
      id="carouselExampleFade"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel"
      data-bs-interval="3000"
    >
      <div class="carousel-inner">
        <!-- Generar dinámicamente los items del carrusel -->
        <div
          *ngFor="let item of carruselItems; let i = index"
          class="carousel-item"
          [class.active]="i === 0"
        >
          <img
            [src]="item.imagen"
            class="d-block w-100 rounded-3"
            alt="Imagen{{ i }}_barberia"
          />
          <div class="carousel-caption d-none d-md-block">
            <h5 class="text-warning">{{ item.titulo }}</h5>
            <p class="text-warning">{{ item.descripcion }}</p>
          </div>
        </div>
      </div>
      <!-- Controles del carrusel -->
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleFade"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleFade"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
