<div class="container bg-dark text-warning p-4 rounded-3" style="max-width: 900px;">
  <h2 class="text-center mb-4 fw-bold">Gestión de Usuarios</h2>

  <ul class="nav nav-pills mb-3">
    <li class="nav-item">
      <a class="nav-link active" id="usuarios-tab" data-bs-toggle="pill" href="#usuarios" (click)="closeForm()">Usuarios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="historial-tab" data-bs-toggle="pill" href="#historial" (click)="closeForm()">Historial de Cambios</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="usuarios">
      <button class="btn btn-success mb-4" (click)="openAddUserForm()" aria-label="Agregar Nuevo Usuario">Agregar Nuevo Usuario</button>

      <div class="mb-3">
        <input [(ngModel)]="searchQuery" type="text" class="form-control" placeholder="Buscar por nombre de usuario o correo...">
      </div>
      <div class="mb-3">
        <label for="rol" class="form-label text-white">Filtrar por Rol:</label>
        <select [(ngModel)]="filterRol" class="form-control" id="rol">
          <option value="all">Todos</option>
          <option value="admin">Administrador</option>
          <option value="barbero">Barbero</option>
          <option value="usuario">Usuario</option>
        </select>
      </div>

      <div class="mb-3">
        <button class="btn btn-outline-primary" (click)="userFilterStatus = 'todos'" aria-label="Mostrar todos los usuarios">Todos</button>
        <button class="btn btn-outline-success" (click)="userFilterStatus = 'activos'" aria-label="Mostrar usuarios activos">Activos</button>
        <button class="btn btn-outline-danger" (click)="userFilterStatus = 'inactivos'" aria-label="Mostrar usuarios inactivos">Inactivos</button>
      </div>

      <table class="table table-dark table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre de Usuario</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Rol</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of filteredUsers">
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.telefono }}</td>
            <td>{{ user.rol }}</td>
            <td>
              <button class="btn" [ngClass]="{'btn-success': user.estado === 'activo', 'btn-danger': user.estado === 'inactivo'}" (click)="toggleUserState(user)" aria-label="Cambiar estado del usuario">
                {{ user.estado === 'activo' ? 'Desactivar' : 'Activar' }}
              </button>
              <button class="btn btn-primary btn-sm" (click)="toggleEditMode(user)" aria-label="Editar usuario">Editar</button>
              <button *ngIf="user.estado === 'inactivo'" class="btn btn-secondary btn-sm" (click)="restoreUser(user)" aria-label="Restaurar usuario">Restaurar</button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-between">
        <button class="btn btn-secondary" [disabled]="currentPage === 1" (click)="goToPage(currentPage - 1)" aria-label="Página anterior">Anterior</button>
        <span> Página {{ currentPage }} de {{ totalPages }} </span>
        <button class="btn btn-secondary" [disabled]="currentPage === totalPages" (click)="goToPage(currentPage + 1)" aria-label="Página siguiente">Siguiente</button>
      </div>
    </div>

    <div class="tab-pane fade" id="historial">
      <h3>Filtrar Historial de Cambios</h3>

      <div class="mb-3">
        <label for="startDate" class="form-label text-white">Fecha y Hora de Inicio:</label>
        <input [(ngModel)]="startTime" type="datetime-local" class="form-control" id="startDate">
      </div>
      <div class="mb-3">
        <label for="endDate" class="form-label text-white">Fecha y Hora de Fin:</label>
        <input [(ngModel)]="endTime" type="datetime-local" class="form-control" id="endDate">
      </div>
      <div class="mb-3">
        <label for="filterDate" class="form-label text-white">Filtrar por Fecha:</label>
        <input [(ngModel)]="filterDate" type="date" class="form-control" id="filterDate">
      </div>

      <div class="mb-3">
        <input [(ngModel)]="searchQuery" type="text" class="form-control" placeholder="Buscar en historial...">
      </div>

      <div class="mb-3">
        <button class="btn btn-outline-primary" (click)="changeLogFilter = 'todos'" aria-label="Mostrar todos los registros del historial">Todos</button>
        <button class="btn btn-outline-primary" (click)="changeLogFilter = 'creado'" aria-label="Mostrar registros de usuarios creados">Creado</button>
        <button class="btn btn-outline-primary" (click)="changeLogFilter = 'actualizado'" aria-label="Mostrar registros de usuarios actualizados">Actualizado</button>
        <button class="btn btn-outline-primary" (click)="changeLogFilter = 'cambio de estado'" aria-label="Mostrar registros de cambios de estado">Estado cambiado</button>
      </div>

      <div *ngIf="changeLog.length === 0">
        <p class="text-center text-white">No hay registros disponibles</p>
      </div>

      <table class="table table-dark table-bordered">
        <thead>
          <tr>
            <th>Hora</th>
            <th>Fecha</th>
            <th>Usuario</th>
            <th>Acción</th>
            <th>Modificó</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let log of filteredChangeLogPaginated">
            <td>{{ log.hora }}</td>
            <td>{{ log.fecha }}</td>
            <td>{{ log.username }}</td>
            <td>{{ log.action }}</td>
            <td>{{ log.modifico }}</td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-between">
        <button class="btn btn-secondary" [disabled]="currentPage === 1" (click)="goToPage(currentPage - 1)" aria-label="Página anterior del historial">Anterior</button>
        <span> Página {{ currentPage }} de {{ totalPages }} </span>
        <button class="btn btn-secondary" [disabled]="currentPage === totalPages" (click)="goToPage(currentPage + 1)" aria-label="Página siguiente del historial">Siguiente</button>
      </div>

      <div class="mb-3">
        <label for="pageSize" class="form-label text-white">Logs por página:</label>
        <select [(ngModel)]="pageSize" (change)="changePageSize(pageSize)" class="form-control" id="pageSize">
          <option value="10">10</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
    </div>
  </div>

  <div *ngIf="showForm" class="formulario-popup">
    <div class="bg-dark p-4 rounded-3">
      <h3>{{ isEditing ? 'Editar Usuario' : 'Agregar Nuevo Usuario' }}</h3>
      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
      <form (ngSubmit)="isEditing ? saveUserChanges() : addUser()">
        <div class="mb-3" *ngIf="isEditing">
          <label for="id" class="form-label text-white">ID:</label>
          <input [(ngModel)]="selectedUser.id" type="text" class="form-control" id="id" readonly>
        </div>
        <div class="mb-3">
          <label for="username" class="form-label text-white">Nombre de Usuario:</label>
          <input [(ngModel)]="selectedUser.username" type="text" class="form-control" id="username" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label text-white">Correo:</label>
          <input [(ngModel)]="selectedUser.email" type="email" class="form-control" id="email" required>
        </div>
        <div class="mb-3">
          <label for="telefono" class="form-label text-white">Teléfono:</label>
          <input [(ngModel)]="selectedUser.telefono" type="text" class="form-control" id="telefono" required>
        </div>
        <div class="mb-3">
          <label for="rol" class="form-label text-white">Rol:</label>
          <select [(ngModel)]="selectedUser.rol" class="form-control" id="rol">
            <option value="admin">Administrador</option>
            <option value="barbero">Barbero</option>
            <option value="usuario">Usuario</option>
          </select>
        </div>
        <div class="mb-3" *ngIf="selectedUser.rol === 'admin' || selectedUser.rol === 'barbero'">
          <label for="token" class="form-label text-white">Token:</label>
          <input [(ngModel)]="selectedUser.token" type="text" class="form-control" id="token">
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-success" aria-label="Guardar cambios del usuario">{{ isEditing ? 'Actualizar Usuario' : 'Agregar Usuario' }}</button>
          <button type="button" class="btn btn-secondary" (click)="isEditing ? cancelEdit() : cancelAddUser()" aria-label="Cancelar la operación">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>
