<div class="container text-center py-5">
  <h2 class="text-warning display-4 mb-5">Nuestro Equipo</h2>
  <div class="row">
    <!-- Iterar sobre los barberos -->
    <div *ngFor="let barbero of barberos" class="col-md-4 mb-4 fade-in">
      <div class="card border-0 bg-dark rounded-4 shadow-lg">
        <img
          [src]="barbero.imagen"
          class="card-img-top rounded-circle shadow-lg"
          [alt]="barbero.nombre"
          style="height: 250px; object-fit: cover;"
        />
        <div class="card-body">
          <h4 class="text-warning">{{ barbero.nombre }}</h4>
          <p class="text-warning">{{ barbero.especialidad }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
