.contenedor-barberos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* 3 columnas */
  gap: 20px; /* Espacio entre barberos */
  padding: 20px;
}

.barbero {
  text-align: center;
}

.barbero img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 10px;
}
