
/* Fondo de la página */
body {
  opacity: 0.9;
  }

  /* Estructura de la tarjeta */
  .card {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
    border-radius: 15px;
  }

  .card-body {
    padding: 2rem;
    background: rgba(0, 0, 0, 0.4); /* Fondo oscuro dentro de la card */
    color: #fdfdfd; /* Color de texto blanco */
    flex: 1;
    border-radius: 15px;
  }

  /* Imagen dentro de la tarjeta */
  .card-img {
    background-color: #fdfdfd;
    border-radius: 0 15px 15px 0;
    overflow: hidden;
  }

  .card-img img {
    object-fit: cover;
    height: 100%;
  }

  /* En dispositivos grandes, poner la imagen al lado del formulario */
  @media (min-width: 768px) {
    .card-body {
      order: 1;
    }

    .card-img {
      order: 2;
    }
  }

  /* Ajustes para pantallas pequeñas */
  @media (max-width: 767px) {
    .card-body {
      order: 1;
    }

    .card-img {
      order: 3;
      height: 300px;
    }
  }
  .fade-in {
    animation: fadeIn 0.5s ease-in;
  }

  .fade-out {
    animation: fadeOut 0.5s ease-in;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
