<div class="contenedor-sucursales">
  <h2>Selecciona una Sucursal</h2>
  <select id="sucursal" onchange="cambiarUbicacion()">
    <option value="" disabled selected>Selecciona una sucursal</option>
    <option value="Cartago">Cartago</option>
    <option value="San José">San José</option>
    <option value="Heredia">Heredia</option>
  </select>

  <div id="mapa" style="height: 300px; width: 100%;"></div>

  <p id="sucursalInfo"></p>
</div>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

