.contenedor-inicio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 50px 20px;
}

.columna-informacion {
  padding-right: 20px;
  text-align: center;
}

.columna-imagen img {
  width: 100%;
  height: 400px; /* Altura fija para las imágenes */
  object-fit: cover; /* Asegura que la imagen mantenga su proporción sin distorsionarse */
  border-radius: 10px;
}

.fadeInOutText {
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.fadeInText {
  animation-name: fadeIn;
}

.fadeOutText {
  animation-name: fadeOut;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.carousel-inner {
  border-radius: 10px;
  overflow: hidden;
}

.carousel-item img {
  transition: transform 0.3s ease;
}

.carousel-item img:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .contenedor-inicio {
    flex-direction: column;
    text-align: center;
  }

  .columna-imagen {
    padding-left: 0;
  }

  .columna-informacion {
    padding-right: 0;
    margin-bottom: 20px;
  }
}
