<p>inicio works!</p>
<div class="contenedor-inicio">
  <div class="columna-informacion">
    <h2>Bienvenido a Nuestra Barbería</h2>
    <p>
      Ofrecemos servicios de barbería de alta calidad con un equipo de
      profesionales experimentados. ¡Ven a visitarnos y descubre la diferencia!
    </p>
    <p>
      Tenemos una gran variedad de servicios, desde cortes clásicos hasta
      estilos modernos.
    </p>
    <a href="/barberos">Conoce a nuestros barberos</a>
  </div>
  <div class="columna-imagen">
    <img src="assets/img/barberia.jpg" alt="Imagen de la barbería" />
  </div>
</div>
